# Frontend Configuration
VITE_API_URL=http://localhost:8080
VITE_APP_NAME="Cash Level"
VITE_APP_VERSION=0.1.0

# Database Configuration
POSTGRES_SERVER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=finance_game

# Backend API Configuration
SECRET_KEY=SECRET_KEY
# API
API_V1_STR=/api/v1
API_PORT=8000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Security
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
CORS_ORIGINS=["http://localhost:3000","http://localhost:8000", "https://cash-lvl.ru", "http://localhost"]